#main-bg {
    background: lightskyblue;
    min-height: 100vh;
    padding: 20px;
}
body {
    margin: 0;
}
* {
    font-family: "Comic Sans MS", serif;
}
form {
    margin: 0 auto;
    background: white;
    width: 600px;
    padding: 1em;
    border-radius: 0.5em;
}
input {
    margin-bottom: 20px;
}
/* input[type=email], input[type=text] */
input:not([type="checkbox"]),
textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid lightgrey;
}
button {
    width: 100%;
    background: deepskyblue;
    border: none;
    padding: 0.5em;
    border-radius: 0.5em;
}
